body {
  padding: 0;
  margin: 0;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
#notetop {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
}
#notetop > div {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 6px;
}
#notetop > div > div {
  flex: 1 1;
  color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background: #ff7129;
}
#notetop h3 {
  color: #fff;
  flex: 1 1 10%;
  font-size: 1.3vw;
}
#notetop span {
  font-size: 1.4vw;
  vertical-align: middle;
}
.bgorange {
  background: #0aba6f !important;
}
.bgcyne {
  background: #3b95ca !important;
}
#notetop table {
  vertical-align: middle;
  flex: 1 1 auto;
  font-size: 1.4vw;
  table-layout: fixed;
}
#notetop table td {
  word-break: keep-all;
  white-space: nowrap;
}
#notetop a {
  color: #fff;
  font-size: 1vw;
  vertical-align: middle;
}
#login-page {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: -1;
  justify-content: center;
}
#login-page #bg {
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
#login-page #particles {
  position: fixed;
}
#login-page #login-box-outer {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 430px;
  display: block;
  height: 380px;
  box-shadow: 0px 0px 55px 1px rgba(0, 0, 0, 0.3);
}
#login-page #login-box-outer #boxbg {
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: -50px;
  right: -50px;
  opacity: 0.95;
  z-index: 0;
  background: rgba(255, 255, 255, 0.8);
}
#login-page #login-box-outer #boxbg #blurbg {
  opacity: 0.8;
  -webkit-filter: blur(10px);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#login-page #login-box-outer #imgbox {
  background: #3782CF;
  background: -webkit-gradient(linear, 80% 39%, 35% 80%, from(rgba(39, 91, 145, 0.8)), to(rgba(55, 130, 207, 0.8)), color-stop(1, rgba(55, 130, 207, 0.8)));
  padding: 20px 0 30px 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}
#login-page #login-box-outer #imgbox img {
  margin: 10px 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#login-page #login-box-outer #imgbox div {
  flex: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
#login-page #login-box-outer #imgbox div h1 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
#login-page #login-box-outer #imgbox div h2 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}
#login-page #login-box-outer #login-box-inner {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  margin: 0 auto;
  height: 210px;
  box-sizing: border-box;
  padding: 25px 10px 25px 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-top: -20px;
}
#login-page #login-box-outer #copyright {
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  line-height: 40px;
  width: 100%;
  font-size: 12px;
}
/*html {
    &::-webkit-scrollbar { 
        width: 10px;
        height: 1px;
        background: #Fff;
    }

    &::-webkit-scrollbar-thumb { 
        -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.4);
        background: #305978;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: lighten(#304156,60);
    }
}*/
#layout .fit-center {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 50px;
  left: 200px;
  transition: all 0.5s;
}
#layout.collapsed .fit-center {
  left: 65px;
}
#layout.collapsed #layout_menu {
  width: 64px;
}
#layout.tabmode #layout_menu #catchscroll {
  top: 94px;
}
#layout.tabmode #layout_menu .mainlogo {
  background: #394d66;
  z-index: 9999;
  position: relative;
  padding: 22px 0px;
}
#layout.tabmode #layout_menu .mainlogo img {
  display: block;
  height: 50px;
}
#layout .mainlogo {
  transition: all 0.5s;
  background: #394d66;
  z-index: 9999;
  position: relative;
  padding: 3px 5px;
}
#layout .mainlogo img {
  transition: all 0.5s;
  display: block;
  height: 44px;
}
#layout #layout_menu {
  position: fixed;
  height: 100%;
  width: 200px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #304156;
  border-right: solid 1px #e6e6e6;
}
#layout #layout_menu #catchscroll {
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
#layout #layout_menu .el-scrollbar__wrap {
  overflow-x: hidden !important;
}
#layout #layout_menu .el-menu.el-menu--inline,
#layout #layout_menu .el-submenu .el-menu-item {
  background-color: #1f2d3d !important;
}
#layout #layout_menu .el-submenu .el-menu-item:hover {
  background-color: #051324 !important;
}
#layout #layout_menu .el-menu {
  border-right: none;
}
#layout.collapsed #layout_main {
  margin-left: 65px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#layout #layout_main {
  position: relative;
  margin-left: 200px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  /*公共*/
}
#layout #layout_main .btn {
  font-size: 22px;
  line-height: 50px;
  float: left;
  padding: 0 15px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#layout #layout_main .btn:hover {
  background: #f7f7f7;
}
#layout #layout_main.static-top #layout_main_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
}
#layout #layout_main.static-top #layout_main_tabs {
  position: fixed;
  top: 50px;
  height: 44px;
  margin: 0;
  right: 0;
  left: 200px;
}
#layout #layout_main.static-top #layout_main_center {
  padding-top: 50px;
}
#layout #layout_main.static-top #layout_main_center:nth-child(3) {
  padding-top: 94px;
}
#layout #layout_main.static-top.collapsed #layout_main_top {
  left: 65px;
}
#layout #layout_main.static-top.collapsed #layout_main_tabs {
  left: 65px;
}
#layout #layout_main #layout_main_top {
  position: relative;
  z-index: 3;
  background: #fff;
  line-height: 50px;
  height: 50px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#layout #layout_main #layout_main_top #menu_collapse {
  font-size: 22px;
  line-height: 50px;
  float: left;
  padding: 0 15px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
#layout #layout_main #layout_main_top #menu_collapse:hover {
  background: #f7f7f7;
}
#layout #layout_main #layout_main_top #breadcrumb {
  padding-top: 18px;
  float: left;
}
#layout #layout_main #layout_main_top #breadcrumb a {
  font-weight: normal !important;
}
#layout #layout_main #layout_main_top #layout_tools {
  float: right;
  height: 50px;
  line-height: 50px;
}
#layout #layout_main #layout_main_top #layout_tools .el-badge__content {
  top: 12px;
  right: 22px;
}
#layout #layout_main #layout_main_top #layout_tools .el-badge {
  vertical-align: top;
}
#layout #layout_main #layout_main_top #layout_tools a {
  font-size: 22px;
  line-height: 50px;
  float: left;
  padding: 0 15px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  float: none;
  display: inline-block;
  vertical-align: top;
}
#layout #layout_main #layout_main_top #layout_tools a:hover {
  background: #f7f7f7;
}
#layout #layout_main #layout_main_top #layout_tools #fullscreen {
  font-size: 18px;
}
#layout #layout_main #layout_main_top #layout_tools #user {
  height: 50px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
  padding-left: 10px;
}
#layout #layout_main #layout_main_top #layout_tools #user .userface {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#layout #layout_main #layout_main_top #layout_tools #user:hover {
  background: #f7f7f7;
}
#layout #layout_main #layout_main_tabs {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  height: 44px;
  line-height: 32px;
  padding: 6px 0;
  background: #fff;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 5px 0px 8px #ddd;
}
#layout #layout_main #layout_main_tabs .tabs {
  height: 32px;
  table-layout: fixed;
  width: 100%;
  display: inline-table;
}
#layout #layout_main #layout_main_tabs .tabs #tabs_wrap {
  height: 32px;
  overflow: hidden;
  padding: 0;
}
#layout #layout_main #layout_main_tabs .tabs > div {
  display: table-cell;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child {
  padding: 0 10px;
  /*修改el-tab*/
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card {
  box-shadow: none;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header {
  margin: 0;
  border: none;
  background: #fff;
  border-bottom: none;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__nav.is-top {
  border: none!important;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__item {
  border: 1px solid #eee;
  margin: 0 5px;
  border-radius: 2px;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__item .el-icon-close {
  color: #409eff;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  background: #409eff;
  color: #fff;
  border: 1px solid #0d84ff;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__item.is-active .el-icon-close {
  color: #fff;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs--card > .el-tabs__header .el-tabs__item.is-active .el-icon-close:hover {
  background: #006bd9;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs {
  border: none;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs .el-tabs__item {
  height: 32px;
  line-height: 32px;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs .el-tabs__nav-prev,
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs .el-tabs__nav-next {
  height: 32px;
  line-height: 32px;
}
#layout #layout_main #layout_main_tabs .tabs > div:first-child .el-tabs__content {
  display: none;
}
#layout #layout_main #layout_main_tabs .tabs > div:nth-child(2) {
  width: 80px;
  vertical-align: middle;
  text-align: center;
}
#layout #layout_main #layout_main_tabs .tabs > div:nth-child(2) span {
  color: #888;
}
#layout #layout_main #layout_main_center {
  overflow-x: hidden;
}
#layout #layout_main #layout_main_center .slidein-enter-active {
  transition: all 0.5s;
}
#layout #layout_main #layout_main_center .slidein-enter,
#layout #layout_main #layout_main_center .slidein-leave-to {
  opacity: 0;
  transform: translateX(50px);
}
#layout #layout_main #layout_main_center .admin-page {
  margin: 15px;
  padding: 10px;
  background: #fff;
  min-height: 500px;
  box-shadow: 0px 0px 8px #ddd;
}
body {
  background: #f3f3f3;
}
.toolbar {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 8px 10px;
  border-bottom: 1px solid #f1f1f1;
}
.toolbar .el-input-group__prepend {
  border-radius: 20px 0 0 20px;
}
.toolbar .el-input-group__append {
  border-radius: 0 20px 20px 0;
}
.toolbar > div {
  vertical-align: top;
}
.fr-popup {
  z-index: 9999999 !important;
}
